HELP.md
/target/*
### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iml
*.cmd

###Maven
*.mvn*

##Application Properties
*application.properties*


#EB Extensions
ebextensions/*



